.to-do-input{
    width: 350px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
 .form{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
 }

 .tasks-container{
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
 }
 .tasks{
    width: 350px;
    height: 50px;
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 15px;
 }


.cross{
    margin-left: auto;
    margin-right: 10px;
}