.to-do-input{
    width: 450px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
 .form{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
 }

 .tasks-container{
    width: 450px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
 }
 .tasks{
    width: 450px;
    height: 50px;
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 15px;
 }


.cross{
    margin-left: auto;
    margin-right: 10px;
}

.container-filter{
   display: flex;
   gap: 8px;
}

.task-filter{
   display: flex;
   justify-content: space-between;
   padding: 30px;
   font-size: 0.8rem;
}
.filter__select{
   cursor: pointer;
}
.filter__select:hover{
   color: var(--bright-blue);
}

.filter__clear{
   cursor: pointer;
}